@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.App {
  background-color: white;
}

.heading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  font-weight: 700;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0 20px;
  box-sizing: border-box;
}

.header-logo-link {
  position: absolute;
  left: 20px;
}

.header-logo {
  height: 80px;
  width: auto;
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.header-icon {
  height: 40px;
  width: auto;
}

.header-text {
  color: #ec951a;
  font-size: 30px;
  font-weight: 700;
  display: block;
  font-family: EGPRoboto, Roboto;
}

.header-contact {
  position: absolute;
  right: 20px;
  text-align: center;
  font-family: EGPRoboto, Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #121212;
  line-height: 24px;
  text-decoration: none;
}

.header-contact:hover {
  text-decoration: underline;
}

.header-contact-phone {
  font-size: 18px;
  font-weight: 700;
  color: #121212;
}

.header-contact-hours {
  font-size: 12px;
  font-weight: 400;
  color: #121212;
  line-height: 15px;
}
